.page-title {
    padding-left: 0px;
}
table.dataTable thead>tr>th {
    padding: 10px 5px;
    border-bottom: 1px solid #111;
    width: auto!important;
}
table.dataTable tbody td, table.dataTable tbody th {
    padding: 10px 5px;
}
a.view span, a.edit span,a.delete span{
    display: none;
}
a.view, a.edit,a.delete, a.btn-shop , a.btn-document {
    border-radius: 15px !important;
    margin-left: 5px;
}
.voyager .pagination .active>a, .voyager .pagination .active>a:focus, .voyager .pagination .active>a:hover, .voyager .pagination .active>span:focus, .voyager .pagination .active>span:hover, .voyager .pagination .active span {
    background-color: #c1c1c1;
    border-color: #c1c1c1;
}
.pl15 {
    padding-left: 15px;
}
body.login .logo {
    max-width: 60px;
    padding-top: 53px;
    padding-bottom: 20px;
}

body.login .copy h1 {
    margin: 23px 0 0 5px;
}
body.login .copy p {
    left: 5px;
    position: relative;
    top: -14px;
}
body.login .login-button {
    width: 100%;
}

body.login .form-group-default {
    border: none;
    border-bottom: 2px solid rgba(28,43,54,.07);
    border-radius: 0px;
}
.home_banner {
    background-image: url("http://staging.sudc.co/admin/assets?path=images%2Fbg.jpg");
}
.voyager input[type=file] {
    border: 0px solid #f1f1f1;
}
button.btn.btn-primary.btn-lg.save.center-block {
    width: 200px;
}
.app-container .content-container .side-menu .navbar-header .navbar-brand img {
    width: 40px;
    height: 40px;
}
.ml15{
    margin-left: 15px!important;
}
.readmore img{
    margin-right: 5px;
}


/*Dash board*/
.b-meta {
    width: 100%;
    padding: 23px 25px;
}
.b-meta > i {
    color: #999;
    display: inline-block;
    font-size: 25px;
    margin-top: 5px;
    vertical-align: top;
}
.info-meta {
    display: inline-block;
    overflow: hidden;
    padding-left: 15px;
    vertical-align: middle;
    width: 80%;
}
.info-meta > h4 {
    font-size: 30px;
    margin-bottom: 5px;
    display: inline-block;
}
.info-meta > p {
    float: right;
    font-size: 14px;
    margin-top: 10px;
    width: auto;
}
.info-meta > h5 {
    font-size: 18px;
    margin-top: 10px;
    width: auto;
}
h3.chart_head {
    padding-top: 15px;
    padding-left: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #d0d0d0;
}
.panel-widget {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 3px 15px 0px;
    width: 100%;
    background: none 0px 0px repeat scroll rgb(255, 255, 255);
    border-radius: 5px;
}
.line_cart_cus {
    margin: 30px auto;
}
.table_chart_cus .table-responsive {
    padding: 10px;
}
a.viewall {
    text-align: right;
    display: inherit;
    padding: 5px 15px 10px 5px;
    text-decoration: underline;
    font-size: 16px;
}