

/*cool section*/
.rw_rslt{float: left;width:100%;}
.rw_rslt div {
    width: 100px;
    float: left;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-right: 10px;
    display: inline-block;
    padding: 5px 10px;

}



.rw_rslt div img {
    display: inline-block;
    float: left;
    vertical-align: middle;
    margin-right: 10px;
}
.rw_rslt div span {
    line-height: 2em;
}

.row.pr_sr {
    border-bottom: 1px solid #ddd;
    padding-bottom: 20px;
    margin-bottom: 10px;
    margin-left: 0;
    margin-right: 0;
}
.row.tp_sr div{padding:0;}
.row.pagnt{float: left;width:100%; border-bottom: 1px solid #ddd;}
.fl{float:left;}
.row.rslt.fl {
    border-bottom: 1px solid #ddd;
    padding: 20px 0;
    margin-bottom: 20px;
    width: 100%;
}
.row.rgt_sr {
    width: 100%;
    float: right;
}
.col-md-8.col-sm-4.col-xs-12.border-right{padding-right:50px}
.titl_brd {
    font-size: 18px;
    font-weight: 600;
    border-bottom: 1px solid #ddd;
    padding-bottom: 8px;
    margin-bottom: 10px;
}
.hrs ul{padding:0;}
.hrs ul li{padding:0;line-height:2em}
.hrs ul li{list-style:none;margin:20px 0px}
.wdt{width:50%; margin: 20px 0px;line-height: 2em}
.prd_link span{display: inline-block;margin-left: 20px}
.mp_sec .dtl_img{margin-top:20px}
/*.container.ad_link{
    padding:0;
}*/
.tp_sr input.form-control {
    padding: 24px 10px;
}
.tp_sr .input-group-btn button.btn.btn-default {
    padding: 10px 20px 9px;
    background: #ddd;
    line-height: 0;
}
.tp_sr .input-group-btn button.btn.btn-default img{
    width:25px;
}
.row.tp_sr .rc_drp .cust-selc{
    padding:5px
}
.tp_sr .col-md-9 {
  padding: 0;
}
.col-md-12.col-sm-12.col-xs-12.usr_dtl {
    margin-top: 20px;
    padding: 0;
}
.row.pr_sr div {
    padding: 0;
}

.col-md-6.col-sm-4.col-xs-12.pics p {
    font-size: 16px;
}
.col-md-6.col-sm-4.col-xs-12.pics p img{margin-right:10px;vertical-align: middle;}
.rltiv{position:relative}
.row.pr_sr .rw_rslt div {
    padding: 5px 10px;
}

.pagnt .pagination>li>a, .pagination>li>span{border:0;}

.pagnt .pagination>li>a, .pagination>li>span{margin-left:40px}
.icon-chevron-right:before,.icon-chevron-left:before{color:#337ab7;}
.icon-chevron-right:before{margin-left:10px}
.icon-chevron-left:before{margin-right:10px}
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover{     background-color:transparent; 
    border-bottom: 2px solid #337ab7!important;color:#337ab7}
.btndrp .btn-default{border:0;}

.numbr{margin-top:35px}    

.slider {
    width:100%;
    margin:50px auto;
}

.slick-slide {
    margin: 0px 20px; 
}

.slick-slide img {
    width: 100%;
}

.slick-prev:before,
.slick-next:before {
    color: black;
}


.slick-slide {
    transition: all ease-in-out .3s;
    opacity: .2;
}

.slick-active {
    opacity: .5;
}

.slick-current {
    opacity: 1;
}


.tp_lnk {
    margin-top: 10px;
}
.col-md-6.col-sm-4.col-xs-12.pull-right.border-left {
    margin-bottom: 20px;
}
.col-md-6.col-sm-4.col-xs-12.pull-right.border-left p {
    margin-bottom:0px;
}
.mp_sec p.pull-right{margin-top: 5px;margin-bottom: 24px}
.lk{margin:10px;float:left;width:100%;}


@media screen and (max-width:767px){
    .banr_link .col-md-6.col-sm-4.col-xs-12.pull-right.border-left{ border:0!important;   }
    .banr_link .tp_lnk a {
        margin: 0px 0 5px;
        float: left;
        width: 100%;
    }
    .prd_link span{margin:5px 0}
    .container.abt_des,.container.rec_sec {
        padding: 0px 30px;
    }

    .rec_sec .col-md-8.col-sm-4.col-xs-12.border-right {
        border-right: 0!important;
        margin-bottom: 20px;
        float: left;
        width: 100%;
    }
    .row.pr_sr div {
        padding: 0;
        width: auto;
        padding-right: 10px;
    }

    .row.tp_sr div {

        margin-bottom: 20px;
    }

    .row.pr_sr .rw_rslt div{margin-bottom:10px}
    .wdt{width:100%;}
    .col-md-8.col-sm-4.col-xs-12.border-right{padding-right: 15px}
    .row.pagnt{margin:0;}
    .pagnt .pagination>li>a, .pagination>li>span{margin-left:0;padding:0 8px}
    .pagnt .col-md-8.col-sm-4.col-xs-12,.pagnt .col-md-3.col-sm-3.col-xs-12.numbr,.lstout{padding:0;}
    .row.fl.fw.rltiv,.lstout,.row.rgt_sr{margin:0;}


}

@media screen and (min-width:768px) and (max-width:1024px) {
    .col-md-6.col-sm-6.col-xs-12.pics{width:100%;}
    .usr_dtl {
        margin-top: 20px;
    }
    .row.tp_sr{margin:0;}
    .row.tp_sr .col-sm-9{width:72%;margin-right:10px}
    .row.pr_sr .rw_rslt div{margin-bottom:10px}
    .pagnt .pagination>li>a, .pagination>li>span{padding:0;margin-left:19px}
    .slick-prev, .slick-next{top: 45px!important;}
    .slick-next{right:45px!important;}
    .slick-prev{right:70px!important;}
    .banr_link .col-md-6.col-sm-6.col-xs-12.pull-right.border-left{padding-left: 10px}
    .prd_link span{margin-left: 0}
    .dtl_img {
        margin: 10px 30px;
    }
    .mp_sec .dtl_img {
        margin:0;
    }
    .rec_sec h3{padding:0 15px;}
    .abt_des,.container.ad_link{padding:0 30px;}
    .tp_sr .no-border{width:50%;}

}