

/*cool section*/
.rw_rslt{float: left;width:100%;}
.rw_rslt div {
    width: 100px;
    float: left;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-right: 10px;
    display: inline-block;
    padding: 5px 10px;

}



.rw_rslt div img {
    display: inline-block;
    float: left;
    vertical-align: middle;
    margin-right: 10px;
}
.rw_rslt div span {
    line-height: 2em;
}

.row.pr_sr {
    border-bottom: 1px solid #ddd;
    padding-bottom: 20px;
    margin-bottom: 10px;
    margin-left: 0;
    margin-right: 0;
}
.row.tp_sr div{padding:0;}
.row.pagnt{
    float: left;
    width:100%;
    border-bottom: 1px solid #ddd;
    margin-right: 0px;
    margin-left: 0px;
}

.fl{float:left;}
.row.rslt.fl {
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
    margin-bottom: 20px;
    width: 100%;
    color: #8e8c8c;
    margin-left: 0;
    margin-right: 0;
}
.people_viewed .row {
    margin-left: 0;
    margin-right: 0;

}
.usr_dtl .pics a img {
    margin-left: 0;
    margin-right: 0;
}
.row.rslt.fl .btn-default{
    color: #8e8c8c; 
}
.row.rgt_sr {
    width: 100%;
    float: right;
}
.col-md-8.col-sm-4.col-xs-12.border-right{padding-right:50px}
.titl_brd {
    font-size: 18px;
    font-weight: 600;
    border-bottom: 1px solid #ddd;
    padding-bottom: 8px;
    margin-bottom: 10px;
    padding-left: 10px;
}
.hrs ul{
    padding:0;
    margin-left: 10px;
}
.hrs ul li{padding:0;line-height:2em}
.hrs ul li{
    list-style:none;
    margin:10px 0px;
}
.hrs ul li span.day{
    width: 20%;
    float: left;
}
.hrs ul li span.tim{
    width: 80%;
    float: left;
}
.hrs ul li span.que{
    width: 80%;
    float: left;
}
.hrs ul li span.ans{
    width: 20%;
    float: left;
}
.hrs li.vwmre a {
    margin-left: 0px;
}
.hrs_sec {
    margin-top: 30px;  
}
.other_items_nearby, .browse_nearby,.people_als_vewd {
    margin-top: 40px;
}
.more_business_info {
    margin-top: 30px;
}
.other_items_nearby .lk, .browse_nearby .lk {
    text-decoration: underline;
}
.browse_nearby .lk span {
    margin-left: 10px;
}
.wdt{
    margin: 10px 0px 5px;
    line-height: 2em

}
.people_viewd_sec {
    margin-top: 20px;
}
.people_viewd_sec .pics a img {
    margin-left: 10px;
}
.prd_link span{display: inline-block;margin-left: 20px}
.mp_sec .dtl_img{margin-top:20px}
/*.container.ad_link{
padding:0;
}*/
.tp_sr input.form-control {
    padding: 24px 10px;
}
.tp_sr .input-group-btn button.btn.btn-default {
    padding: 10px 35px 9px;
    background: #9c9898;
    line-height: 0;
}
.tp_sr .input-group-btn button.btn.btn-default img{
    width:25px;
}
.row.tp_sr .rc_drp .cust-selc{
    padding:5px
}
.tp_sr .col-md-9 {
    padding: 0;
}
.col-md-12.col-sm-12.col-xs-12.usr_dtl {
    margin-top: 20px;
    padding: 0;
}
.row.pr_sr div {
    padding: 0;
}

.col-md-6.col-sm-4.col-xs-12.pics p {
    font-size: 16px;
}
.col-md-6.col-sm-4.col-xs-12.pics p img{margin-right:10px;vertical-align: middle;}
.rltiv{position:relative}
.row.pr_sr .rw_rslt div {
    padding: 5px 10px;
}

.pagnt .pagination>li>a, .pagination>li>span{border:0;}

.pagnt .pagination>li>a, .pagination>li>span{
    /* margin-left:40px*/
}
.icon-chevron-right:before,.icon-chevron-left:before{color:#337ab7;}
.icon-chevron-right:before{margin-left:10px}
.icon-chevron-left:before{margin-right:10px}
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover{ 
    background-color:transparent; 
    border-bottom: 5px solid #337ab7!important;
    color:#337ab7
}
.btndrp .btn-default{border:0;}

.numbr{margin-top:27px}    

.slider {
    width:100%;
    margin:15px auto;
}

.slick-slide {
    margin: 0px 20px; 
}

.slick-slide img {
    width: 100%;
}

.slick-prev:before,
.slick-next:before {
    color: black;
}


.slick-slide {
    transition: all ease-in-out .3s;
    opacity: 1;
}

.slick-active {
    opacity: 1;
}

.slick-current {
    opacity: 1;
}


.tp_lnk {
    margin-top: 10px;
    margin-left: 10px;
}
.shp_detl_ .tp_lnk {
    margin-top: 0;
    padding-top: 10px;
    margin-left: 0px;
}
.shop_banner .tp_lnk a {
    font-weight: 600;
    font-size: 15px;
}
.shop_banner .shp_detl_se_more a, .shop_banner .mp_sec a {
    font-weight: 600;
    text-decoration: underline;
    font-size: 15px;
}
.shop_banner .shp_detl_se_more > a{
    margin-left: 20px;
}

.shop_banner .adrs {
    font-size: 15px;
    padding-left: 20px;
}
.shop_banner p {
    margin-bottom: 8px;
}
.shop_detail_ad1 {
    margin-top: 15px;
}
.shop_description p{
    color: #8e8c8c;
}
.grey{
    color: #8e8c8c;
}
.shop_description h3{
    font-weight: 800
}
.shop_description {
    margin-top: 10px;
    /*    padding-left: 20px;
    padding-right: 20px;*/
}
.people_viewed .description h6 a {
    color: #1f9cd7;
    font-weight: 600;
}
.people_viewed .description .block span {
    /*width: 35%;*/
    float: left;
    margin: 5px 0;
}
.people_viewed .description .block p {
    width: 50%;
    float: left;
    margin-left: 5px;
}
.open_close_tm {
    height: 110px;
    padding-left: 25px;
}
.open_close_tm h3 {
    margin-top: 10px;
}
.open_close_tm i {
    font-size: 40px;
    float: left;
}
.open_close_tm div {
    margin-top: 15px;
    margin-left: 15px;
    float: left;
}
.shop_des_col {
    padding-left: 40px;
    padding-right: 40px;
}
.lstout {
    padding-right: 20px;
}
.shp_rview_sec {
    padding-left: 40px;
}
.shop_review {
    margin-top: 10px;
    /*padding-left: 20px;*/
}
.shop_review .rgt_sr {
    padding-left: 10px;
}
.shop_review h3 { 
    font-weight: 800
}
.shop_review .shp_rview_sec {
    padding-right: 50px;
    margin-bottom: 100px;
}
.shop_review .search_bar {
    margin-top: 20px;
    margin-bottom: 20px;
}
.shop_review .rc_drp {
    margin-top: 15px;
    padding-right: 0;
}
.shop_review .pagination {
    margin: 15px 0 0;
}
.shop_review .pagination a {
    color: #000;
}
p.grey.text-justify.rev_dtails {
    margin-top: 20px;
}
p.font-weight-bold.grey.review_ques {
    margin-top: 25px;
    font-weight: 600;
}
.shop_review .rw_rslt{
    margin-top: 10px;
}
.shop_review .row.pr_sr {
    padding-bottom: 30px;
}
.col-md-6.col-sm-4.col-xs-12.pull-right.border-left {
    margin-bottom: 20px;
}
.col-md-6.col-sm-4.col-xs-12.pull-right.border-left p {
    margin-bottom:0px;
}
.mp_sec p.pull-right{
    margin-top: 10px;
    margin-bottom: 10px;
}
.lk{margin:10px;float:left;width:100%;}

.thumbnail_image_detail {
    margin-top: 50px;
}
.thumbnail_image_detail .img_wrapper {
    margin-bottom: 15px;
}
.product_image_pod {
    margin-top: 20px;
}
.border_1 {
    border: 1px solid #d0d0d0;
}
.share i:before {
    font-size: 18px;
    color: #8c8c8c;
    background-color: transparent;
    line-height: 0;
    margin-left: 10px;
}
span.share {
    display: inline-flex;
}
.product_deta_section h2.tite {
    margin-bottom: 30px;
}
.product_deta_section .pip {
    margin-left: 10px;
    margin-right: 10px;
}
.product_deta_section .rev i {
    color: #d0cccc;
}

.product_deta_section .rev .review, .product_deta_section span.share p {
    font-weight: 600;
    color: #727272;
}
.product_deta_section .add_review a {
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
}
.product_deta_section .price {
    margin-top: 10px;
    margin-bottom: 40px;
}
.product_deta_section .price {
    font-size: 20px;
    font-weight: 700;
}
.product_deta_section .price .green {
    color: #7aae22;
    margin-left: 10px;
    font-weight: 700;
}
.product_deta_section .price .item_price {
    color: #000;
    font-size: 20px;
    margin-left: 10px;
    font-weight: 700;
}
.product_deta_section .price del {
    color: #9a9a9a;
}
.product_deta_section p {
    font-size: 16px;
    line-height: 20px;
}
.product_deta_section p.descrptn {
    margin-top: 30px;
    color: #8e8c8c;
}
.product_deta_section ul.features {
    padding-left: 20px;
    color: #8e8c8c;
}
.browse_nearby .lk {
    margin-top: 5px;
    margin-bottom: 0;
}
.browse_nearby ul li img {
    float: left
}
.browse_nearby ul li a {
    float: left;
    margin-left: 0;
}
ul.pdt_det_head {
    background-color: #d0d0d0;
}
.pdt_det_head li {
    font-size: 16px;
    font-weight: 600;
    color: #000;
    margin-top: 20px;
    margin-left: 20px;
}
.pdt_det_head li a{
    color: #000;
    text-decoration: none;
}
.pdt_det_head li.active {
    border-bottom: 5px solid #109fc6;
}
.pdt_det_head li.active > a {
    color: #109fc6;
}
.pdt_det_head li a:hover{
    color: #109fc6;
    text-decoration: none;
}
.btn-det_link {
    color: #000;
    font-size: 26px;
    text-decoration: none;
    font-weight: 500;
}
a.btn-det_link:hover {

    text-decoration: none;
}
.btn-det_link:before {
    content: "\f068";
    font-family: FontAwesome;
    float: left;
    vertical-align: middle;
    margin-right: 20px;
    line-height: 45px;
    font-size: 12px;
    font-weight: 400;
}
.btn-det_link.collapsed:before {
    content: "\f067";
    font-family: FontAwesome;
    float: left;
    vertical-align: middle;
    margin-right: 20px;
    line-height: 45px;
    font-size: 12px;
    font-weight: 400;
}
.border_dotted-bottom {
    border-bottom: 1px dashed #d0d0d0;
}

.heighligts-body .list {
    padding-left: 45px;
}
.specification-body span.left_spec {
    width: 10%;
    float: left;
}
.specification-body span.right_spec {
    float: left;
}
.specification-body ul {
    padding-left: 30px;
    list-style: none;
}
.specification-body ul li {
    display: flex;

}
.specification-body {
    padding-left: 30px;
}
.specification-body h2 {
    font-size: 20px;
    margin-top: 20px;
}
.description-body p {
    margin-top: 20px;
    margin-left: 30px;
}
.useful_link_product-body ul {
    list-style: none;
}
.useful_link_product-body ul p a {
    color: #000;
    text-decoration: none;
}
.useful_link_product-body ul p {
    color: #6f6c6c;
}
.border {
    border: 1px solid #f0f0f0;
}
.review_box_pro_de .review_star, .review_box_pro_de  .review_per,.review_box_pro_de  .review_write {
    height: 230px;
    padding: 40px 20px;
}
.review_box_pro_de {
    margin-top: 40px;
    margin-bottom: 35px;
}
.item_details {
    margin-top: 30px;
    margin-bottom: 70px;
    
}
.review_star h2 {
    margin-bottom: 20px;
}
.review_star h2 sub{
    font-size: 16px;
}
.review_hd_pro_de {
    margin-bottom: 15px;
}
.review_star span, .review_star p{
    margin-top: 15px;
}
.review_per p {
    margin-top: 15px;
    margin-bottom: 15px;
}
.review_per .yesno {
  margin-top: 15px;
}
.review_write p {
    margin-bottom: 20px;
    margin-top: 40px;
}
@media screen and (max-width:767px){
    .banr_link .col-md-6.col-sm-4.col-xs-12.pull-right.border-left{ border:0!important;   }
    .banr_link .tp_lnk a {
        margin: 0px 0 5px;
        float: left;
        width: 100%;
    }
    .prd_link span{margin:5px 0}
    .container.abt_des,.container.rec_sec {
        padding: 0px 30px;
    }

    .rec_sec .col-md-8.col-sm-4.col-xs-12.border-right {
        border-right: 0!important;
        margin-bottom: 20px;
        float: left;
        width: 100%;
    }
    .row.pr_sr div {
        padding: 0;
        width: auto;
        padding-right: 10px;
    }

    .row.tp_sr div {

        margin-bottom: 20px;
    }

    .row.pr_sr .rw_rslt div{margin-bottom:10px}
    .wdt{width:100%;}
    .col-md-8.col-sm-4.col-xs-12.border-right{padding-right: 15px}
    .row.pagnt{margin:0;}
    .pagnt .pagination>li>a, .pagination>li>span{margin-left:0;padding:0 8px}
    .pagnt .col-md-8.col-sm-4.col-xs-12,.pagnt .col-md-3.col-sm-3.col-xs-12.numbr,.lstout{padding:0;}
    .row.fl.fw.rltiv,.lstout,.row.rgt_sr{margin:0;}


}

@media screen and (min-width:768px) and (max-width:1024px) {
    .col-md-6.col-sm-6.col-xs-12.pics{width:100%;}
    .usr_dtl {
        margin-top: 20px;
    }
    .row.tp_sr{margin:0;}
    .row.tp_sr .col-sm-9{width:72%;margin-right:10px}
    .row.pr_sr .rw_rslt div{margin-bottom:10px}
    .pagnt .pagination>li>a, .pagination>li>span{padding:0;margin-left:19px}
    .slick-prev, .slick-next{top: 45px!important;}
    .slick-next{right:45px!important;}
    .slick-prev{right:70px!important;}
    .banr_link .col-md-6.col-sm-6.col-xs-12.pull-right.border-left{padding-left: 10px}
    .prd_link span{margin-left: 0}
    .dtl_img {
        margin: 10px 30px;
    }
    .mp_sec .dtl_img {
        margin:0;
    }
    .rec_sec h3{padding:0 15px;}
    .abt_des,.container.ad_link{padding:0 30px;}
    .tp_sr .no-border{width:50%;}

}